.sg_icon_zendesk {
	background-image: url('/attachments/token/ykmwfhjqyohhmet/?name=zendesk.png');
}
.sg_icon_twitter {
	background-image: url('/attachments/token/mhbn34608trodmu/?name=twitter.png');
}

.sg_icon_tumblr {
	background-image: url('/attachments/token/nlgepl4rqwnwphy/?name=tumblr.png');
}

.sg_icon_getting_started {
	background-image: url('/attachments/token/at8hmafs6ohocr4/?name=getting_started.png');
}

.sg_icon_how_tos {
	background-image: url('/attachments/token/5q1prisxuxkxvdy/?name=how_tos.png');
}

.sg_icon_developers {
	background-image: url('/attachments/token/ayvxco0r2x80xlv/?name=developers.png');
}

.sg_icon_videos {
	background-image: url('/attachments/token/mcgjexygdusyffj/?name=video_32.png');
}

.sg_icon_latest_news {
	background-image: url('/attachments/token/p59zfq7ulgs8ogz/?name=updates.png');
}

.sg_icon_feature_requests {
	background-image: url('/attachments/token/a9b1vr2ptk6hg4t/?name=feature_requests.png');
}

.sg_icon_faqs {
	background-image: url('/attachments/token/hbekv8edrseu6ai/?name=faqs.png');
}

.sg_icon_ask_for_help {
	background-image: url('/attachments/token/pb4ig7an9xebcsj/?name=ask_for_help.png');
}
.sg_icon_911 {
	background-image: url('/attachments/token/rg4fkcxyxl2z9wk/?name=911_red.png');
}
.sg_icon_call {
	background-image: url('/attachments/token/m4smbweop4nl5xw/?name=call_us.png');
}
.sg_icon_chat {
	background-image: url('/attachments/token/hphoh2yku3p29mw/?name=chat.png');
}
.sg_icon_record {
	background-image: url('/attachments/token/qxfds7b7fbmfrji/?name=document_video.png');
}